## Classes & Objects

**1. Create a class Book with attributes title and author. Define a method display() to print the title and author of the book**

In [118]:
class Book():

    def __init__(self, title, author):
        self.title = title
        self.author = author

    def display(self):
        print(f"The title of the book is {self.title} and its author is {self.author}.")

In [119]:
tkamb = Book("To Kill a Mocking Bird", "Harper Lee")
tkamb.display()

The title of the book is To Kill a Mocking Bird and its author is Harper Lee.

**2. Write a class Circle that takes radius as an argument. Define methods to calculate the area and circumference of the circle.**

In [103]:
class Circle():

    def __init__(self, radius):
        self.radius = radius

    def area(self):
        area = (22/7) * self.radius ** 2
        print("Area = {:.2f}".format(area))

    def circumference(self):
        circumference = 2 * (22/7) * self.radius
        print("Circumference = {:.2f}".format(circumference))

In [106]:
circle1 = Circle(53)
circle1.area()
circle1.circumference()

Area = 8828.29
Circumference = 333.14

**3. Create a class Car with attributes make, model, and year (default to 2020). Define a method to display the car's information.**

In [109]:
class Car():

    def __init__(self, make, model, year = 2020):
        self.make = make
        self.model = model
        self.year = year

    def display(self):
        print(f"The make of the car is {self.make}. Its model is {self.model}. Its model year is {self.year}.")

In [112]:
car1 = Car("Nissan", "GTR", 2002)
car1.display()

The make of the car is Nissan. Its model is GTR. Its model year is 2002.

**4. Write a class Employee with name and salary attributes. Implement the __repr__ method to display the employee's name and salary in a readable format.**

In [116]:
class Employee():

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __repr__(self):
        return f"The name of the employee is {self.name} and their salary is {self.salary}."

In [117]:
emp1 = Employee("Asif", 100000)
emp1

The name of the employee is Asif and their salary is 100000.

**5. Define a class BankAccount with account_number and balance. Add a method to deposit and another to withdraw an amount (both methods should update the balance).**

In [152]:
class BankAccount():
    
    def __init__(self, account_number, balance):
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        self.balance -= amount

In [154]:
ba1 = BankAccount(101, 12500)
ba1.withdraw(1000)
ba1.balance

11500

**6. Create a Person class that takes name and age as parameters. Write a method to print name and age in a sentence.**

In [155]:
class Person():

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print(f"The name of the person is {self.name}. Their age is {self.age}.")

In [157]:
p1 = Person("Farsha", 22)
p1.display()

The name of the person is Farsha. Their age is 22.

**7. Write a Student class where name is a required attribute and grade is optional (default is "Not Assigned"). Define a method to display this information.**

In [160]:
class Student():

    def __init__(self, name, grade = "Not Assigned"):
        self.name = name
        self.grade = grade

    def display(self):
        print(f"The name of the person is {self.name}. Their grade is {self.grade}.")

In [164]:
p1 = Student("Pranav")
p1.display()

The name of the person is Pranav. Their grade is Not Assigned.

**8. Create a class Student with instance attributes name and marks, and a class variable total_students to keep track of the total number of students.**

In [171]:
class Student():

    total_students = 0

    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        Student.total_students += 1

In [172]:
s1 = Student("Dijkstra", 99)
s2 = Student("Eratosthenes", 97)
s3 = Student("Evangeline", 100)

Student.total_students

3

**9. Define a class Company with a class variable total_employees. Every time an instance is created, increment total_employees. Create an instance variable employee_id unique to each instance. Verify the difference between instance and class variables.**

In [178]:
class Company():

    total_employees = 0
    
    def __init__(self, employee_id):
        self.employee_id = employee_id
        Company.total_employees += 1

In [179]:
employee1 = Company(101)
employee2 = Company(102)
employee3 = Company(103)

print(f"Total employees: {Company.total_employees}")
print()
print(f"Employee 1 ID: {employee1.employee_id}")
print(f"Employee 2 ID: {employee2.employee_id}")
print(f"Employee 3 ID: {employee3.employee_id}")

Total employees: 3

Employee 1 ID: 101
Employee 2 ID: 102
Employee 3 ID: 103

**10. Create a class Rectangle with length and width attributes. Define a method resize(new_length, new_width) to update these attributes. Add a method to calculate the area, and verify the new area after resizing.**

In [189]:
class Rectangle():
    
    def __init__ (self, length, width):
        self.length = length
        self.width = width

    def resize(self, new_length, new_width):
        self.length = new_length
        self.width = new_width

    def area(self):
        print(f"Area of the rectangle: {self.length * self.width}")

In [206]:
r1 = Rectangle(12, 20)
r1.area()

r1.resize(20, 25)
print()
print("New length: ", r1.length)
print("New width: ", r1.width)
print()
r1.area()

Area of the rectangle: 240

New length:  20
New width:  25

Area of the rectangle: 500

**11. Define a class BankAccount with the following attributes...**

In [342]:
class BankAccount():
    
    def __init__(self, account_number, account_holder, account_type = "Checking", balance = 0, transactions = [], interest_rate = 0.01):
        self.account_number = account_number
        self.account_holder = account_holder
        self.account_type = account_type
        self.balance = balance
        self.transactions = transactions
        self.interest_rate = interest_rate

    def deposit(self, amount):
        self.balance += amount
        self.transactions.append(f"Deposited Amount: {amount}")

    def withdraw(self, amount):
        if self.balance < amount:
            print(f"Entered amount cannot be more that you balance!")
        else:
            self.balance -= amount
            self.transactions.append(f"Amount Withdrawn: {amount}")

    def display_balance(self):
        print(f"Current balance: {self.balance}")

    def display_transactions(self):
        return self.transactions

    def apply_interest(self, years):
        self.balance += self.balance * self.interest_rate * years
        print(f"New balance: {self.balance}")

    def account_summary(self):
        print(f"Account Number: {self.account_number}\nAccount Holder Name: {self.account_holder}\nAccount Type: {self.account_type}\nCurrent Balance: {self.balance}\nRecent Transactions: {self.display_transactions()}")

In [343]:
ba1 = BankAccount(101, "Asif", account_type = "Savings")

In [344]:
ba1.deposit(2500)

In [345]:
ba1.display_balance()

Current balance: 2500

In [346]:
ba1.withdraw(1200)
ba1.deposit(600)

In [347]:
ba1.display_balance()

Current balance: 1900

In [348]:
ba1.display_transactions()

['Deposited Amount: 2500', 'Amount Withdrawn: 1200', 'Deposited Amount: 600']

In [349]:
ba1.apply_interest(3)

New balance: 1957.0

In [350]:
ba1.account_summary()

Account Number: 101
Account Holder Name: Asif
Account Type: Savings
Current Balance: 1957.0
Recent Transactions: ['Deposited Amount: 2500', 'Amount Withdrawn: 1200', 'Deposited Amount: 600']